#loginPanel {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

.imagenProducto {
	max-width: 30%;
}

#contenedorProducto {
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75) !important;
	-moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75) !important;
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75) !important;
}

#selectCategorias{
	width: 25% !important;
}

.loginPanelAlerta {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin-bottom: 15px;
}

.panelEleccionRegistro {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

.modalEditarProducto {
	max-width: 100% !important;
}

label {
	width: 100px;
}

#botonesPerfil {
	margin-top: 30px !important;
}

#labelFoto {
	width: 500px;
}

#lateral {
	-webkit-box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.75) !important;
	-moz-box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.75) !important;
	box-shadow: 3px 0px 15px 0px rgba(0, 0, 0, 0.75) !important;
}

#imagenVendedor {
	max-width: 100% !important;
}

.labelCheckBox {
	width: 100% !important;
}

.labelCheckBox2 {
	width: 300px !important;
}

.modalLoginAvatar {
	max-width: 100% !important;
}

#contenedorImagenProducto {
	max-height: 182px !important;
}

#imangenProducto {
	width: 100% !important;
}

#descripcionProducto {
	height: 120px !important;
}

.labelCheckBox {
	width: 32% !important;
}

.alert {
	display: none;
}

.requirements {
	list-style-type: none;
}

.wrong .fa-check {
	display: none;
}

.good .fa-times {
	display: none;
}

.modal-dialog {
	max-width: 1000px !important;
}