@charset "UTF-8";

.loginPanel {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

.loginPanelAlerta{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin-bottom: 15px;
}

.panelEleccionRegistro{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

.modalEditarProducto{
	max-width: 100% !important;
}

label
{
    width: 100px;
}

#botonesPerfil{
	margin-top: 30px !important;
}

#labelFoto{
	width: 500px;
}

.labelCheckBox{
	width: 100% !important;
}

.modalLoginAvatar{
	max-width: 100% !important;
}

#contenedorImagenProducto{
	max-height: 182px !important;
}
#imangenProducto{
	width: 100% !important;
}

#descripcionProducto{
	height: 120px !important;
}

.labelCheckBox{
	width: 32% !important;
}

.alert
{
    display: none;
}

.requirements
{
    list-style-type: none;
}

.wrong .fa-check
{
    display: none;
}

.good .fa-times
{
    display: none;
}

.modal-dialog{
	max-width: 1000px !important;
}

