.fondoContainer {
	background-color: white;
}

#container {
	min-height: 85vh;
}

#loginPanel {
	display: flex;
	justify-content: center !important;
	align-items: center;
	height: 200px;
	margin-top: 100px;
}

.opcionPerfilVendedor {
	width: 100% !important;
	margin: 20px;
}

.nombreLogo {
	font-family: 'Permanent Marker', cursive !important;
	font-size: 4em;
}

.nombreVendedorInicio{
	min-height: 70px;
}

.quienesSomos {
	font-family: 'Permanent Marker', cursive !important;
}

.bajoquienesSomos {
	font-family: 'Amatic SC', cursive !important;
	font-size: 2em;
	text-shadow: 3px 5px 4px rgba(0,0,0,0.48);
	line-height: 71px;
}

.bajoLogo {
	font-family: 'Amatic SC', cursive !important;
	font-size: 2em;
	text-shadow: 3px 5px 4px rgba(0,0,0,0.48);
}

.imagenRazon {
	max-width: 60% !important;
	display: unset !important;
}

.logoNavegador {
	font-family: 'Permanent Marker', cursive !important;
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	word-wrap: break-word;
}

.logoPresentacion {
	height: 150px;
	background-image: url("../img/llengo.png");
	background-repeat: repeat;
}

.navbar {
	background-image: url("../img/llengo.png") !important;
	background-repeat: repeat !important;
	-webkit-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.75);
}

.page-footer {
	background-image: url("../img/llengo.png") !important;
	background-repeat: repeat !important;
	color: black !important;
	font-family: 'Permanent Marker', cursive !important;
}

.page-footer a {
	color: black !important;
	font-family: 'Permanent Marker', cursive !important;
}

.page-footer a:hover {
	font-family: 'Permanent Marker', cursive !important;
	text-shadow: 5px 3px 2px #898989;
	color: green;
}


.navbar a:not(.botonesNavegador){
	color: black !important;
	font-family: 'Permanent Marker', cursive !important;
}

.navbar a:hover {
	text-shadow: 5px 3px 2px #898989;
}

.thumbnail img {
	height: 50px;
	width: 20%;
}

.sombraProductoInicio {
	-webkit-box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 1);
	max-width: 80% !important;
}

.descripcionProducto {
	overflow: auto;
	min-height: 82px;
	max-height: 82px;
}

.tituloProducto {
	min-height: 55px;
}

.crop {
	height: 300px;
	/*width: 400px;*/
	overflow: hidden;
}

.crop img {
	height: auto;
	width: 100%;
}

.cropInicio {
	height: 100px;
	/*width: 400px;*/
	overflow: hidden;
}

.cropInicio img {
	height: auto;
	width: 100%;
}

#contenedorProducto {
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75) !important;
	-moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75) !important;
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75) !important;
}

.contenedorImagenProductoGrande{
	max-width: 33%;
}

#selectCategorias {
	width: 60% !important;
}

.loginPanelAlerta {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin-bottom: 15px;
}

.panelEleccionRegistro {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

.modalEditarProducto {
	max-width: 100% !important;
}

label {
	width: 100px;
}

#botonesPerfil {
	margin-top: 30px !important;
}

#labelFoto {
	width: 500px;
}



#lateral {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	min-height: 90vh;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#lateral2 {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	min-height: 90vh;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#lateralProductosPrincipal {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	min-height: 90vh;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#noticias {
	padding: 5px;
	width: 80% !important;
	max-width: 80% !important;
}

#imagenVendedor {
	max-width: 100% !important;
}

.nombreProducto {
	min-height: 70px;
}

.labelCheckBox {
	width: 100% !important;
}

.labelCheckBox2 {
	width: 300px !important;
}

.modalLoginAvatar {
	max-width: 100% !important;
}

.divNoticiaPrincipal {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.contenedorImagenProducto {
	min-height: 180px !important;
	max-height: 190px !important;
}

.contenedorVendedorVendedores {
	min-height: 180px !important;
	max-height: 190px !important;
}

.imagenProducto {
	height: 100%;
	margin: 0 auto;
}

.imagenProductoGrande{
	margin: 0 auto;
}

.imagenVendedorVendedores {
	height: 100%;
	margin: 0 auto;
}

.imagenLogoPresentacion {
	width: 100% !important;
}

.descripcionProducto {
	height: 120px !important;
}

.productoLateralPrincipal {
	width: 150px !important;
}

.colSinPading {
	padding: 0;
}

.labelCheckBox {
	width: 32% !important;
}

.alert {
	display: none;
}

.requirements {
	list-style-type: none;
}

.wrong .fa-check {
	display: none;
}

.good .fa-times {
	display: none;
}

.modal-dialog {
	max-width: 1000px !important;
}

.cantidad {
	padding-top: 20px;
}

.cantidad input {
	-webkit-appearance: none;
	border: none;
	text-align: center;
	width: 32px;
	font-size: 16px;
	color: #43484D;
	font-weight: 300;
}

boton[class*=boton] {
	width: 30px;
	height: 30px;
	background-color: #E1E8EE;
	border-radius: 6px;
	border: none;
	cursor: pointer;
}

.minus-boton img {
	margin-bottom: 3px;
}

.plus-boton img {
	margin-top: 2px;
}

button:focus, input:focus {
	outline: 0;
}

.divPedido {
	margin-top: 50px;
}