<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration PUBLIC '-//mybatis.org//DTD Config 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
	<properties resource='jdbc.properties' />
	<typeAliases>
		<typeAlias type='modelo.pojo.Cliente' alias='Cliente'></typeAlias>
		<typeAlias type='modelo.pojo.Vendedor' alias='Vendedor'></typeAlias>
		<typeAlias type='modelo.pojo.Poblacion' alias='Poblacion'></typeAlias>
		<typeAlias type='modelo.pojo.Direccion' alias='Direccion'></typeAlias>
		<typeAlias type='modelo.pojo.Producto' alias='Producto'></typeAlias>
		<typeAlias type='modelo.pojo.Categoria' alias='Categoria'></typeAlias>
		<typeAlias type='modelo.pojo.Formato' alias='Formato'></typeAlias>
		<typeAlias type='modelo.pojo.DetallePedido' alias='DetallePedido'></typeAlias>
		<typeAlias type='modelo.pojo.PedidoDetallado' alias='PedidoDetallado'></typeAlias>
		<typeAlias type='modelo.pojo.CodigoActivacionVendedor' alias='CodigoActivacionVendedor'></typeAlias>
		<typeAlias type='modelo.pojo.CodigoActivacionCliente' alias='CodigoActivacionCliente'></typeAlias>
	</typeAliases>
	<environments default='development'>
		<environment id='development'>
			<transactionManager type='JDBC' />
			<dataSource type='POOLED'>
				<property name='driver' value='${jdbc.driverClassName}' />
				<property name='url' value='${jdbc.url}' />
				<property name='username' value='${jdbc.username}' />
				<property name='password' value='${jdbc.password}' />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource='modelo/dao/mappers/ClientesMapper.xml' />
		<mapper resource='modelo/dao/mappers/DireccionesMapper.xml' />
		<mapper resource='modelo/dao/mappers/PoblacionesMapper.xml' />
		<mapper resource='modelo/dao/mappers/ProductosMapper.xml' />
		<mapper resource='modelo/dao/mappers/VendedoresMapper.xml' />
		<mapper resource='modelo/dao/mappers/CodigosActivacionVendedorMapper.xml' />
		<mapper resource='modelo/dao/mappers/CodigosActivacionClienteMapper.xml' />
	</mappers>
</configuration>