<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration PUBLIC '-//mybatis.org//DTD Config 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
	<properties resource='jdbc.properties' />
	<typeAliases>
		<typeAlias type='modelo.pojo.Accidente' alias='Accidente'></typeAlias>
		<typeAlias type='modelo.pojo.Distrito' alias='Distrito'></typeAlias>
		<typeAlias type='modelo.pojo.TipoAccidente' alias='TipoAccidente'></typeAlias>
		<typeAlias type='modelo.pojo.TipoVehiculo' alias='TipoVehiculo'></typeAlias>
		<typeAlias type='modelo.pojo.TipoSexo' alias='TipoSexo'></typeAlias>
		<typeAlias type='modelo.pojo.Estadistica' alias='Estadistica'></typeAlias>
		<typeAlias type='modelo.pojo.Usuario' alias='Usuario'></typeAlias>
	</typeAliases>
	<environments default='development'>
		<environment id='development'>
			<transactionManager type='JDBC' />
			<dataSource type='POOLED'>
				<property name='driver' value='${jdbc.driverClassName}' />
				<property name='url' value='${jdbc.url}' />
				<property name='username' value='${jdbc.username}' />
				<property name='password' value='${jdbc.password}' />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource='modelo/dao/mappers/EstadisticasMapper.xml' />
		<mapper resource='modelo/dao/mappers/UsuariosMapper.xml' />
		<mapper resource='modelo/dao/mappers/AccidentesMapper.xml' />
		<mapper resource='modelo/dao/mappers/DistritosMapper.xml' />
		<mapper resource='modelo/dao/mappers/TipoVehiculosMapper.xml' />
		<mapper resource='modelo/dao/mappers/TipoAccidentesMapper.xml' />
		<mapper resource='modelo/dao/mappers/TipoSexosMapper.xml' />
	</mappers>
</configuration>