<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='modelo.dao.mappers.ClientesMapper'>


	<select id="getCliente" resultType="Cliente">
		select 
			id_cliente, cliente.nombre, apellido, telefono,email,password,
			poblacion.nombre, direccion.direccion
		from 
			cliente
		inner join 
			direccion
				on cliente.direccion = direccion.id_direccion
		inner join 
			poblacion
				on direccion.poblacion = poblacion.id_poblacion
		where 
			email = #{email} and password = #{password};
	</select>


</mapper>