<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='modelo.dao.mappers.ClientesMapper'>

	<select id="getClienteEmail"  resultType="Cliente">
		select
			id_cliente, email, nombre, apellido, telefono, password, foto
		from
			cliente
		where 
			email = #{email};
	</select>
	
	<select id="getClienteEmailPass" resultType="Cliente">
		select
			*
		from
			cliente
		where 
			email = #{email} and password = #{password};
	</select>


	<select id="getCliente" resultType="Cliente">
		select
		id_cliente, cliente.nombre, apellido, telefono,email,password,
		poblacion.nombre, direccion.direccion
		from
		cliente
		inner join
		direccion
		on cliente.direccion = direccion.id_direccion
		inner join
		poblacion
		on direccion.poblacion = poblacion.id_poblacion
		where
		email = #{email} and password = #{password};
	</select>

	<resultMap type='PedidoDetallado' id='getPedidos'>
		<result property='idPedido' column='id_pedido' />
		<result property='fechaPedido' column='fecha_pedido' />
		<result property='fechaEntrega' column='fecha_entrega' />
		<result property='estado' column='estado' />
		<result property='vendedor' column='vendedor' />
		<result property='producto' column='producto' />
		<result property='precioUnitario' column='precio_unidad' />
		<result property='cantidad' column='cantidad' />
		<result property='precioFinal' column='precio_total' />
		<result property='direccion' column='direccion' />
		<result property='poblacion' column='poblacion' />

	</resultMap>


	<select id="getPedidos" resultMap="getPedidos">
		select
		pedido.id_pedido,pedido.fecha_pedido, pedido.fecha_entrega,
		pedido.estado, vendedor.nombre as vendedor,producto.nombre as
		producto, detalle_pedido.precio_unidad,
		detalle_pedido.cantidad, detalle_pedido.precio_unidad * detalle_pedido.cantidad as
		precio_total
		,direccion.direccion, poblacion.nombre
		from cliente
		inner join pedido
		on pedido.cliente = cliente.id_cliente
		inner join detalle_pedido
		on detalle_pedido.id_pedido = pedido.id_pedido
		inner join producto
		on producto.id_producto = detalle_pedido.id_producto
		inner join direccion
		on direccion.id_direccion = pedido.destino
		inner join poblacion
		on poblacion.id_poblacion = direccion.poblacion
		inner join vendedor
		on vendedor.id_vendedor = producto.vendedor
		where cliente.id_cliente = #{id_cliente};

	</select>
	
	<insert id="insertarCliente" parameterType="Cliente" useGeneratedKeys="true"
    keyProperty="id">
		insert into cliente (email,nombre,apellido, telefono,direccion, password, foto, activado) 
		values (#{email}, #{nombre}, #{apellido}, #{telefono}, #{idDireccion},#{password}, #{foto}, #{activado});
	</insert>
	
	<update id="activarCliente" parameterType="int">
		update cliente set activado = 1  where cliente.id_cliente = #{id_cliente};
	</update>
	
	<update id="updateApellido">
		update cliente set apellido = #{#apellido}  where cliente.id_cliente = #{id_cliente};
	</update>
	
	<update id="updateTelf">
		update cliente set telefono = #{#telefono}  where cliente.id_cliente = #{id_cliente};
	</update>
	
	<update id="updatePassword">
		update cliente set password = #{#password}  where cliente.id_cliente = #{id_cliente};
	</update>
	
	<update id="updateFoto">
		update cliente set foto = #{#foto}  where cliente.id_cliente = #{id_cliente};
	</update>
	
	<delete id="bajaCliente" parameterType="int">
		delete from cliente  where cliente.id_cliente = #{id_cliente};
	</delete>

</mapper>