<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='modelo.dao.mappers.ClientesMapper'>


	<select id="getCliente" resultType="Cliente">
		SELECT * FROM cliente WHERE
		email = #{email} and password = #{password};
	</select>

	
</mapper>