<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='modelo.dao.mappers.CodigosActivacionClienteMapper'>

	<select id='existeCodigo' parameterType='int' resultType='boolean'>
		select exists(select * from codigo_act_cliente where id = #{codigo})
	</select>
	
	<delete id='borrarCodigo' parameterType='int'>
		delete from codigo_act_cliente where codigo_act_cliente.cliente = #{id_cliente};
	</delete>

	<select id='buscarClientePorCodigo' parameterType='int' resultType='int'>
		select cliente from codigo_act_cliente
		where id = #{codigo};
	</select>
	
	<insert id='insertCodigo' parameterType='CodigoActivacionCliente'
		useGeneratedKeys='true' keyProperty='id'>
		insert into codigo_act_cliente (id,
		cliente)
		VALUES(#{id},#{cliente})
	</insert>

	
</mapper>