<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='modelo.dao.mappers.ProductosMapper'>

	<resultMap type='Producto' id='getProductosBusqueda'>
		<result property='id' column='id_producto' />
		<result property='nombre' column='nombre' />
		<result property='descripcion' column='descripcion' />
		<result property='foto' column='foto' />
		<result property='precio' column='precio' />
		<result property='categoria' column='categoria' />
		<result property='formato' column='formato' />
		<result property='nombre_vendedor' column='vendedor' />
	</resultMap>


	<select id="getProductosBusqueda"
		resultMap="getProductosBusqueda">
		select id_producto, producto.nombre, producto.descripcion,
		producto.foto,
		producto.precio, categoria.nombre as categoria,
		formato.nombre as formato, vendedor.nombre as vendedor
		from producto
		inner join vendedor
		on vendedor.id_vendedor = producto.vendedor
		inner join categoria
		on categoria.id_categoria = producto.categoria
		inner join formato
		on formato.id_formato = producto.formato
		where producto.nombre like #{busqueda};
	</select>
	
	<insert id="insertarProducto" parameterType="Producto"
		useGeneratedKeys="true" keyProperty="id">
		insert into producto (nombre,descripcion,foto,precio,vendedor,stock, categoria,formato,venta_online)
		values (#{nombre}, #{descripcion}, #{foto}, #{precio}, #{id_vendedor}, #{stock}, #{id_categoria}
		, #{id_formato}, #{venta_online});
	</insert>
	
	<resultMap type='Producto' id='getProductosVendedor'>
		<result property='id' column='id_producto' />
		<result property='nombre' column='nombre' />
		<result property='descripcion' column='descripcion' />
		<result property='foto' column='foto' />
		<result property='precio' column='precio' />
		<result property='id_categoria' column='categoria' />
		<result property='id_formato' column='formato' />
		<result property='venta_online' column='venta_online' />
		<result property='stock' column='stock' />
	</resultMap>
	
	<select id="getProductosVendedor" parameterType="int" resultMap="getProductosVendedor">
		select * from producto where producto.vendedor = #{id_vendedor};
	</select>
	
	<select id="getProductoPorId" parameterType="int" resultType="Producto">
		select * from producto where producto.id_producto = #{id_producto};
	</select>
	
	<update id="activarVentaOnline">
		update producto set venta_online = 1  where producto.id_producto = #{id_producto};
	</update>
	
	<update id="desactivarVentaOnline">
		update producto set venta_online = 0  where producto.id_producto = #{id_producto};
	</update>
	
	<delete id='borrarProducto' parameterType='int'>
		delete from producto where producto.id_producto = #{id_producto};
	</delete>


</mapper>