<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='modelo.dao.mappers.ValoracionesProductoMapper'>
	
	<insert id="insertarValoracionProducto" parameterType="ValoracionProducto"
		useGeneratedKeys="true" keyProperty="id" >
		insert into valoracion_producto (valoracion,cliente,producto)
		values (#{valoracion}, #{cliente},#{producto});
	</insert>
	
	<delete id='borrarValoracionCliente' parameterType='int'>
		delete from valoracion_producto where cliente = #{id_cliente};
	</delete>


</mapper>