<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='modelo.dao.mappers.ValoracionesPostsMapper'>
	
	<insert id="insertarValoracionPostPorDefecto" parameterType="ValoracionPost"
		useGeneratedKeys="true" keyProperty="id" >
		insert into valoracion_post (valoracion, id_cliente,id_post)
		values (#{valoracion}, #{id_cliente},#{id_post});
	</insert>


</mapper>